/**
 Folha de estilo principal do html5 + css3
 @author Sabrina da Silva

 */

/****************  IMPORTANDO FONT ****************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/**************** Principal ****************/
body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #ffffff;*/
	background-image: url("../imagens/textura.jpg");
	background-attachment: fixed; /* fixa o background */
	background-size: cover; /* manter o tamanho de forma responsiva */
	font-size: 1em; /* 1em = 16 px */
}

#main{
	max-width: 1024px;
	background-color: #FAF0E6;
	margin: 0 auto; /* centralizar a div*/
	margin-top: 50px; /* box model */

}
 /*********** Cabeçalho *************/
 header{
 	width: 100%;
 	height: 200px;
 	background-color: #FFE4E1; /* dica para ajustar elementos */

 }
 header img {
 	width: 128px;
 	height: 128px;
 	margin-top: 20px;
 }

/*********** MENU **********/


/***************** Tratamento responsivo *****************/

img{
	max-width: 100%; /*todas as imagens do site ficam responsivas */
}