/**
 Folha de estilo principal do html5 + css3
 @author Sabrina da Silva

 */

/****************  IMPORTANDO FONT ****************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/**************** Principal ****************/
body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #ffffff;*/
	background-image: url("../imagens/textura.jpg");
	background-attachment: fixed; /* fixa o background */
	background-size: cover; /* manter o tamanho de forma responsiva */
	font-size: 1em; /* 1em = 16 px */
}

#main{
	max-width: 1024px;
	background-color: #FAF0E6;
	margin: 0 auto; /* centralizar a div*/
	margin-top: 50px; /* box model */

}
 /*********** Cabeçalho *************/
 header{
 	width: 100%;
 	height: 200px;
 	background-color: #FFE4E1; /* dica para ajustar elementos */
 	/*margin-bottom: 20px;*/

 }
 header img {
 	width: 128px;
 	height: 128px;
 	margin-top: 10px;
 	margin-left: 40px;
 }
 section img{
 	margin-top: 30px;
 }

/*********** MENU **********/


/***************** Tratamento responsivo *****************/

img{
	max-width: 100%; /*todas as imagens do site ficam responsivas */
}

.git img{
	width: 128px;
	height: 128px;
	text-align: center;
}



/*********** MENU RESPONSIVO ***********/
nav{
	width: 100%;
	max-width: 1024px;
	position: absolute;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	/*background-color: #C71585;
	overflow: hidden; /* completar a largura total com o background (formar o menu)*/
}

nav > ul > li{
	float: left;
	/*width com esse valor devido a borda */
	width: 24.903%; /* 4 elementos do menu primário */
	border-right: 1px solid #FF69B4;
}

nav > ul > li > a{
	font-size: 1.125em;
}

nav ul li a{
	background-color: #C71585;
	text-decoration: none;
	color: #FFF0F5;
	padding: 15px;
	display: block;
	text-align: center;
}

nav ul li a:hover{
	background-color: #F08080;
	transition: all 0.27s; /* efeito transição (0 a 1) */
}

nav li ul{
	display: none;
}

nav li:hover ul{
	display: block;
}

/* Desenhando um triângulo no css */

.Detalhes:after{ /* Atributo after (após o conteudo)*/
	content: ''; /* Content: insere um conteudo no css */
	color: #FFFFFF;
	border: 5px solid transparent;
	/* border-left-color: #800000;
	border-right-color: #800000;
	border-bottom-color: #FF69B4; */
	border-top-color: #FFF0F5; 
	/* Alinhamento */
	display: inline-block;
	vertical-align: middle;
}

.Mobile{
	display: none;
}
/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	z-index: 3;
}


	/***** RODAPÉ *****/
	footer{
		width: 100%;
		background-color: #C71585;
		margin-top: 50px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: center;
		color: #ffffff;
		font-size: 0.75em;

	}




/***** Tratamento responsivo ********/

@media screen and (max-width: 480px){
	body{	
		margin: 0px;
	}
	#main{
		margin: 0px;
	}

	/*** cabeçalho ***/

	header{
 	text-align: center;
 	margin-bottom: 0px;

 }
 header img {
 	margin-top: 0px;
 	margin-left: 0px;
 }

	/* menu hamburguer */
	.Mobile{
		display: block;
		background-color: #C71585;
		color: #FFF0F5;
		text-decoration: none;
		padding: 15px;
}
nav > ul > li{
	float: none;
	width: 100%;
	}

nav ul{
	width: 100%;
	display: none;
	}
	
	/* ajuste */

	nav ul li a{
		/*font-size: 0.938em;
		padding: 12px;*/
		text-align: left;
	}

	nav ul li a:hover{
		transition: all 0s; /* remover efeito de trans~ição */

	}
	nav li ul li{
		background-color: #FF69B4;
	}

	nav li  ul li a{
		background-color:#FF69B4;
		padding-left: 40px;
	}

	/*** IMPORTANTE para UX no dispositivo mobile, não exibir o 2º nivel do menu enquanto o conteudo
	não for clicado **/
	nav li:hover ul{
		display: none;
	}
}

