/**
 Folha de estilo principal do html5 + css3
 @author Sabrina da Silva

 */

/****************  IMPORTANDO FONT ****************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/**************** Principal ****************/
body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #ffffff;*/
	background-image: url("../imagens/batatatexturateste.jpg");
	background-attachment: fixed; /* fixa o background */
	background-size: cover; /* manter o tamanho de forma responsiva */
	font-size: 1em; /* 1em = 16 px */
}

#main{
	max-width: 1024px;
	background-color: #fff;
	margin: 0 auto; /* centralizar a div*/
	margin-top: 50px; /* box model */

}
 /*********** Cabeçalho *************/
 header{
 	width: 100%;
 	height: 170px;
 	background-color: #fff; /* dica para ajustar elementos */
 	/*margin-bottom: 20px;*/

 }
 header img {
 	width: 128px;
 	height: 128px;
 	margin-top: 10px;
 	margin-left: 40px;
 }
 /*section img{
 	margin-top: 30px;
 }*/

/*********** MENU **********/


/***************** Tratamento responsivo *****************/

img{
	max-width: 100%; /*todas as imagens do site ficam responsivas */
}

.git img{
	width: 128px;
	height: 128px;
	text-align: center;
}

.bk img{
	width: 256px;
	height: 256px;
	margin-bottom: 10%;
}

.mc img{
	width: 256px;
	height: 256px;
	margin-bottom: 10%;
}

/*********** MENU RESPONSIVO ***********/
nav{
	width: 100%;
	max-width: 1024px;
	position: absolute;
	z-index: 3;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	/*background-color: #FF8C00;
	overflow: hidden; /* completar a largura total com o background (formar o menu)*/
}

nav > ul > li{
	float: left;
	/*width com esse valor devido a borda */
	width: 25%; /* 4 elementos do menu primário */
	/*border-right: 1px solid #FF69B4;*/
}

nav > ul > li > a{
	font-size: 1.125em;
}

nav ul li a{
	background-color: #FF8C00;
	text-decoration: none;
	color: #FFFfff;
	padding: 15px;
	display: block;
	text-align: center;
}

nav ul li a:hover{
	background-color: #E5BA0D;
	transition: all 0.27s; /* efeito transição (0 a 1) */
}

nav li ul{
	display: none;
}

nav li:hover ul{
	display: block;
}

/* Desenhando um triângulo no css */

.Detalhes:after{ /* Atributo after (após o conteudo)*/
	content: ''; /* Content: insere um conteudo no css */
	color: #FFFFFF;
	border: 5px solid transparent;
	/* border-left-color: #800000;
	border-right-color: #800000;
	border-bottom-color: #FF69B4; */
	border-top-color: #F0E68C; 
	/* Alinhamento */
	display: inline-block;
	vertical-align: middle;
}

.Mobile{
	display: none;
}
/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	
}

/***** Conteúdo em Destaque - Home *****/
/***** banner *****/
#banner{
	margin-top: 52px;
	max-width: 1024px;
	height: 350px;
	/** usado para flexibilizar o layout **/
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner img{
	filter: brightness(40%);
}

#banner h1{
	position: absolute;
	color: #ffffff;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 2.7em;

}
/** heading **/

#heading{
	width: 80#;
	margin: 0 auto;
	padding: 35px;

}

#heading h2{
	text-align: center;
	font-weight: 400;
}


	/***** RODAPÉ *****/
	footer{
		width: 100%;
		background-color: #FF8C00;
		margin-top: 50px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-align: center;
		color: #ffffff;
		font-size: 0.85em;

	}



/***** blocos ****/
#destaque{
	max-width: 1024px;
	height: 360px;
}

.blocos{
	width: 30.76%; /* (315/1024)*100 */
	height: 360px;
	background-color: #FFD700;
	float: left;
	margin-left: 0.97%; /* (20px/1024px)*100 */
	border: 1px solid  #dedede;
	text-align: center;
	position: relative; /*posicionamento do botão*/ 
}

.blocos p{
	/**padding: 0px 10px 0px 10px;
	text-align: center;
	top: 20px;**/
}
.blocos a{
	width: 50px;
	padding: 5px 35px 5px 35px;
	display: block;
	background-color: #FF4500;
	color:#F0E68C ;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	right: 100px;
	bottom: 0px;
	border:0px;
	border-radius: 10px;

}

/***** Formulário de Contato *****/
#contato{
	padding-top: 80px;
	width: 70%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #FF8C00	;
	margin-bottom: 20px;
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 40px 10px;
	border-radius: 5px;
	border: 1px solid #FF8C00	;
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: #FF8C00	;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 10px 25px 10px 25px;
	color: #fff;
}

/****** 1o ponto de quebra***/
@media screen and (max-width: 1058px){
	body{	
		margin: 0;
	}
	#main{
		margin: 0;
	}

}
/****** 2o ponto de quebra***/

@media screen and (max-width: 920px){
	body{	
		margin-top: 50px;

	}

	.blocos a{
		right:70px;
	}
}
/****** 2o ponto de quebra***/
@media screen and (max-width: 524px){
	body{	
		margin-top: 30px;

	}
	#banner{
		margin: 0px; 
	}
	#main{
		margin: 0;
	}
	.blocos a{
		left: 12px;
	}
}

/****** 2o ponto de quebra***/
@media screen and (max-width: 542px){
	body{	
		margin-top: 30px;

	}
	#banner{
		margin: 0px; 
	}
	#main{
		margin: 0;
	}
	.blocos a{
		right: 10px;
	}
}

/****** 2o ponto de quebra***/
@media screen and (max-width: 564px){
	body{	
		margin-top: 30px;

	}
	#banner{
		margin: 0px; 
	}
	#main{
		margin: 0;
	}
	.blocos a{
		right: 10px;
	}
}

/****** 2o ponto de quebra***/
@media screen and (max-width: 577px){
	body{	
		margin-top: 30px;

	}
	#banner{
		margin: 0px; 
	}
	#main{
		margin: 0;
	}
	.blocos a{
		right: 10px;
	}
}

/***** Tratamento responsivo ********/

@media screen and (max-width: 480px){
	body{	
		margin: 0;
	}
	#main{
		margin: 0;
	}

	/*** cabeçalho ***/

	header{
 	text-align: center;
 	margin-bottom: 0px;

 }

#banner{
	margin-top: 117px;
	height: 0;

}

#banner h1{
	font-size: 1.5em;
	text-align: center;
}

#heading{
	width: 90%;
	padding:25px;
	margin-top: 60px;
}

#heading h2{
	font-size: 1.2em;
}

/**** blocos ****/
#destaque{
	max-width: 315px;
	height: auto;
	margin: 0 auto;
}

.blocos{
	width: 100%;
	height: 360px;
	float: none;
	margin: 0;
	margin-bottom: 20px;
}

.blocos a{
	left: 90px;
}


 header img {
 	margin-top: 0px;
 	margin-left: 0px;
 }

	/* menu hamburguer */
	.Mobile{
		display: block;
		background-color: #FF8C00	;
		color: #Ffffff;
		text-decoration: none;
		padding: 15px;
}
nav > ul > li{
	float: none;
	width: 100%;
	}

nav ul{
	width: 100%;
	display: none;
	}
	
	/* ajuste */

	nav ul li a{
		/*font-size: 0.938em;
		padding: 12px;*/
		text-align: left;
	}

	nav ul li a:hover{
		transition: all 0s; /* remover efeito de trans~ição */

	}
	nav li ul li{
		background-color: #FFA500;
	}

	nav li  ul li a{
		background-color:#FFA500;
		padding-left: 40px;
	}

	/*** IMPORTANTE para UX no dispositivo mobile, não exibir o 2º nivel do menu enquanto o conteudo
	não for clicado **/
	nav li:hover ul{
		display: none;
	}
}

